# Next.js
.next/
out/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Vercel
.vercel/

# Env
.env
.env.local
.env.development
.env.production
.env.test

# MacOS
.DS_Store

# Logs
logs
*.log
